@import "colors.css";

* {
    font-family: "CaskaydiaCove Nerd Font Propo";
    font-size: 13px;
}

window#waybar {
    background: transparent;
    color: @fg;
    padding: 0;
    margin: 0;
}

#workspaces button.focused {
    color: @fg;
    font-weight: bold;
}

#workspaces button {
    min-width: 0;
    padding: 0 0.8em;
    color: @fg-faded;
}

#taskbar button {
    min-width: 0;
    padding: 0 10px;
}

#custom-power #custom-clipboard #bluetooth, #pulseaudio, #network, #backlight, #battery, #clock {
    min-width: 0;
    padding: 0 4px;
}

#privacy {
}
#privacy-item {
  margin: 2px 3px;
  padding: 0px 15px;
  color: white;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
#privacy-item.screenshare {
  background: #30c658;
}
#privacy-item.audio-in {
  background: #ffa915;
}
